@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    font-family: 'Quicksand', sans-serif;
}

.container-fluid {
    padding-top: 20px;
}

.sidebar .nav-link {
    font-size: 1.1em;
    padding: 10px;
    color: #495057;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 4px;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.card-body {
    font-size: 1.1em;
}

button {
    font-family: 'Quicksand', sans-serif;
}

button.botao_form, button.botao_zera {
    width: 100%;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h4 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.card .form-control {
    border-radius: 4px;
    padding: 10px;
}

.card .btn {
    border-radius: 4px;
    padding: 10px 20px;
}

.card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Estilo para gráficos */
.card-body canvas {
    max-width: 100%;
    height: auto;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 350px;
    width: 100%;
}

.chartjs-render-monitor {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chart-title {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #007bff;
    font-weight: 600;
    text-align: center;
}

/* Melhorias visuais */
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

input[type="number"] {
    font-family: 'Montserrat', sans-serif;
}
